.lets-get-started {
  position: absolute;
  top: 95px;
  left: calc(50% - 172px);
  font-size: var(--font-size-29xl);
  letter-spacing: -0.01em;
  line-height: 120%;
  text-transform: capitalize;
  color: var(--color-gray-400);
  text-align: center;
}
.group-child32,
.group-child33 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-ghostwhite-100);
  width: 1920px;
  height: 114px;
}
.group-child33 {
  border-radius: var(--br-55xl);
  background-color: var(--color-ghostwhite-200);
  border: 5px solid var(--color-navy-100);
  box-sizing: border-box;
  width: 52px;
  height: 52px;
}
.div15 {
  position: absolute;
  top: 14px;
  left: calc(50% - 3px);
  letter-spacing: -0.01em;
  line-height: 120%;
  text-transform: capitalize;
  font-weight: 500;
}
.rectangle-parent31 {
  position: absolute;
  top: 0;
  left: 0;
  width: 52px;
  height: 52px;
}
.get-inspiration6,
.step-15 {
  position: absolute;
  top: 0;
  left: calc(50% - 76.5px);
  letter-spacing: -0.01em;
  line-height: 120%;
  text-transform: capitalize;
  font-weight: 500;
}
.step-15 {
  top: 60px;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-100);
}
.get-inspiration-parent3 {
  position: absolute;
  top: 0;
  left: calc(50% - 42.5px);
  width: 153px;
  height: 52px;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-400);
  font-family: var(--font-lato);
}
.group-child34,
.group-parent22 {
  position: absolute;
  top: 0;
  left: 0;
  height: 52px;
}
.group-parent22 {
  width: 221px;
  color: var(--color-navy-100);
}
.group-child34 {
  border-radius: var(--br-55xl);
  border: 5px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 52px;
}
.div16,
.set-preferences6,
.step-25 {
  position: absolute;
  top: 14px;
  left: calc(50% - 6px);
  letter-spacing: -0.01em;
  line-height: 120%;
  text-transform: capitalize;
  font-weight: 500;
}
.set-preferences6,
.step-25 {
  top: 0;
  left: calc(50% - 80.5px);
}
.step-25 {
  top: 60px;
  font-size: var(--font-size-base);
}
.set-preferences-parent3 {
  position: absolute;
  top: 0;
  left: calc(50% - 46.5px);
  width: 161px;
  height: 52px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-lato);
}
.group-parent23 {
  position: absolute;
  top: 0;
  left: 464px;
  width: 229px;
  height: 52px;
}
.generate-and-share8,
.step-35 {
  position: absolute;
  top: 0;
  left: calc(50% - 103px);
  letter-spacing: -0.01em;
  line-height: 120%;
  text-transform: capitalize;
  font-weight: 500;
}
.step-35 {
  top: 60px;
  font-size: var(--font-size-base);
}
.generate-and-share-parent3 {
  position: absolute;
  top: 0;
  left: calc(50% - 69px);
  width: 206px;
  height: 52px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-lato);
}
.group-parent21,
.group-parent24 {
  position: absolute;
  top: 0;
  left: 936px;
  width: 274px;
  height: 52px;
}
.group-parent21 {
  top: 31px;
  left: 355px;
  width: 1210px;
}
.rectangle-parent30 {
  position: absolute;
  top: 203px;
  left: 0;
  width: 1920px;
  height: 114px;
  color: var(--color-dimgray-100);
  font-family: var(--font-poppins);
}
.lets-begin3 {
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
}
.arrow-forward-icon8 {
  position: relative;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.lets-begin-parent1 {
  position: absolute;
  top: 0;
  left: calc(50% - 30.5px);
  border-radius: var(--br-15xl);
  background-color: var(--color-navy-100);
  width: 198px;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-smi) var(--padding-15xl);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.back6 {
  position: absolute;
  top: 0;
  left: 44.16%;
  text-transform: capitalize;
  font-weight: 500;
}
.arrow-forward-icon9 {
  position: absolute;
  height: 100%;
  width: 31.17%;
  top: 0;
  right: 68.83%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.back-parent3 {
  position: absolute;
  top: 16px;
  left: 0;
  width: 77px;
  height: 24px;
  color: var(--color-dimgray-100);
}
.group-child36,
.instance-group {
  position: absolute;
  top: 779px;
  left: calc(50% - 605px);
  width: 335px;
  height: 56px;
}
.group-child36 {
  top: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-navy-200);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 1210px;
  height: 60px;
}
.arrow-forward-icon10 {
  position: relative;
  width: 24px;
  height: 24px;
  object-fit: cover;
  display: none;
}
.lets-begin-parent2 {
  position: absolute;
  top: 0;
  left: calc(50% + 407px);
  border-radius: 0 var(--br-5xs) var(--br-5xs) 0;
  background-color: var(--color-navy-100);
  width: 198px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-smi) var(--padding-15xl);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.enter-url-here {
/*  position: absolute;*/
  width:100%;
  top: 16px;
  left: calc(50% - 585px);
  line-height: 160%;
  color: var(--color-dimgray-100);
}
.rectangle-parent34 {
  position: absolute;
  top: 113px;
  left: calc(50% - 605px);
  width: 1210px;
  height: 60px;
}
.which-information-would {
  /*position: absolute;
  top: 0;
  left: calc(50% - 285.5px);*/
  letter-spacing: -0.01em;
  color:#000;
  line-height: 120%;
  font-weight: 500;
}
.instance-item {
  position: relative;
  border-radius: var(--br-80xl);
  background-color: var(--color-gray-100);
  width: 199px;
  height: 46px;
  z-index: 0;
}
.based-on-own {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 120%;
}
.component-2-parent1,
.rectangle-parent35 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.component-2-parent1 {
  margin: 0 !important;
  top: 11px;
  left: 19px;
  flex-shrink: 0;
  flex-direction: row;
  z-index: 1;
}
.rectangle-parent35 {
  top: 0;
  left: 0;
  box-shadow: 2px 2px 7.9px rgba(163, 163, 163, 0.1);
  flex-direction: column;
}
.instance-inner {
  position: relative;
  border-radius: var(--br-80xl);
  background-color: var(--color-gray-100);
  width: 176px;
  height: 46px;
  z-index: 0;
}
.rectangle-parent36 {
  position: absolute;
  top: 0;
  left: 209px;
  box-shadow: 2px 2px 7.9px rgba(163, 163, 163, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.enter-own-url {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 120%;
  font-weight: 500;
}
.rectangle-parent37 {
  position: absolute;
  top: 0;
  left: 395px;
  box-shadow: 2px 2px 7.9px rgba(163, 163, 163, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  color: var(--color-navy-100);
}
.instance-container {
  position: absolute;
  top: 43px;
  left: 0;
  width: 571px;
  height: 46px;
}
.which-information-would-you-li-parent {
  position: absolute;
  top: 0;
  left: calc(50% - 605px);
  width: 571px;
  height: 89px;
  color: var(--color-gray-400);
}
.group-parent26 {
  position: relative;
  width: 1210px;
  height: 173px;
}
.are-there-any,
.group-child37 {
  width:100%;
  position: absolute;
  left: calc(50% - 605px);
}
.are-there-any {
  top: 0;
  letter-spacing: -0.01em;
  line-height: 120%;
  font-weight: 500;
}
.group-child37 {
  top: 39px;
  border-radius: var(--br-5xs);
  background-color: var(--color-navy-200);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 1210px;
  height: 60px;
}
.are-there-any-important-keywor-parent {
  position: relative;
  width: 1210px;
  height: 99px;
  color: var(--color-gray-400);
}
.group-parent25 {
  position: absolute;
  top: 387px;
  left: 355px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-31xl);
  font-size: var(--font-size-base);
}
.get-inspiration5 {
  position: relative;
  background-color: var(--color-ghostwhite-100);
  width: 100%;
  height: 1169px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-lato);
}
